@import "tailwindcss";
@import "./styles/BgDark.css";
@import "./styles/FadeIn.css";
@import "./styles/ScrollBar.css";

@font-face {
  font-family: "Vazirmatn";
  src: url(./assets/Fonts/Vazirmatn.ttf);
}

#root {
  width: 100%;
  height: 100vh;
  font-family: "Vazirmatn", sans-serif;
}
